@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+HK:wght@100;400;700&display=swap');

/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw setup tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- TAILWIND GENERATOR EDIT
 */

body {
  font-family: 'Noto Sans HK', sans-serif;
  min-height: 100vh;
  background: linear-gradient(118deg, rgba(245,130,91,1) 4%, rgba(252,164,105,1) 22%, rgba(247,203,89,1) 40%, rgba(169,208,46,1) 76%);
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

h1 {
  @apply text-2xl font-semibold;
}

.upvote-button:hover {
  transform: scale(1.4);
  transition: all 150ms ease-in-out;
}

/** Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}